<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OAR - NITT</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div id="body">
		<header>
			<img id="logo" src="/images/logo.png">
			
			<div id="title-container">
				<h3 id="sub-title">National Institute of Technology, Trichy</h3>
				<h1 id="title">Office of Alumni Relations</h1>
			</div>

			<div id="search-container">
				<input type="text" name="search" id="search" placeholder="Search">
				<input type="submit" name="submit" id="search-submit" value="Search">
			</div>
		</header>

		<nav class="transition-children">
			<ul>
				<li><a href="/" class="active">Home</a></li>
				<li class="dropdown-container">
					<a href="#">Showcase</a>
					<ul class="dropdown">
						<li><a href="/e-hall-of-fame">E-Hall of Fame</a></li>
						<li><a href="/DAA">Distinguished Alumni Awards</a></li>
					</ul>
				</li>
				<li class="dropdown-container">
					<a href="#">News</a>
					<ul class="dropdown">
						<li><a href="/events">Upcoming Events</a></li>
						<li><a href="/news">Campus news</a></li>
						<li><a href="/feeds">Feeds Archive</a></li>
					</ul>
				</li>
				<li><a href="/gallery">Gallery</a></li>
			</ul>

			<a id="reg-link" href="/login">Register / Login</a>
		</nav>

		<div id="main">
			<div id="carousel-container">
				<div id="carousel">
					<img src="/images/img1.jpg" data-desc="Image 1">
					<img src="/images/img1.jpg" data-desc="Image 2">
				</div>
				
				<div id="carousel-caption">
					Image Description goes here...
				</div>
			</div>
		</div>
	</div>
</body>
</html>